body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #00796b;
    font-size: 3em;
}

h2 {
    color: #004d40;
}

.game-selection {
    margin-top: 30px;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.game {
    cursor: url('cursor.png'), auto;
}

.game img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.game img:hover {
    transform: scale(1.1);
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 10px;
    margin-top: 30px;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pokemon-box {
    width: 150px; /* Set fixed width */
    height: 200px; /* Set fixed height */
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Pokémon details hidden by default */
.hidden {
    display: none;
}

/* Pokémon image styling */
.pokemon-image {
    width: 80px;
    height: 80px;
    margin-top: 5px;
}

/* Additional styling for text alignment */
.pokemon-number,
.pokemon-status {
    font-weight: bold;
}

.pokemon-name,
.pokemon-type {
    margin: 5px 0;
}
.pokemon-box img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 0px;
}

.pokemon-box:hover {
    background-color: #e6e6e6;
}

.pokemon-details {
    margin-top: 20px;
    font-size: 1.2em;
    color: #004d40;
}

.hidden {
    display: none;
}
