@font-face {
    font-family: 'Pokemon Hollow';
    src: url('Fonts/Pokemon Hollow.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('Fonts/Pokemon Solid.ttf') format('truetype');
}


body {
    font-family: Arial, sans-serif;
    background-color: #ff9441;
    text-align: center;
}

.container {
    margin-top: 40px;
    font-family: "Pokemon Hollow";
    color: black;
}s

h1 {
    font-family: 'Pokemon Hollow';
    color: #ff9441;

    font-size: 3em;
}

h2 {
    font-family: 'Pokemon Hollow';
    color: #f3c877;
    font-size: 2em;
}

.game-selection {
    margin-top: 20px;
}

.game-grid {
    font-family: 'Pokemon Solid';
    font-size: 16px;
    color: red;
    display: grid;
    grid-template-columns: repeat(9, 10fr);
    gap: 20px;
    margin-top: 20px;
}

.game {
    cursor: url('cursor.png'), auto;
}

.game img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
}

.game img:hover {
    transform: scale(1.1);
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin-top: 30px;
}

#subdex-bar {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.subdex {
    cursor: pointer;
    text-align: center;
}

.subdex img {
    width: 60px;
    height: 60px;
}

.subdex p {
    font-size: 0.7em;
}


#pokedex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pokemon-box {
    width: 150px; /* Set fixed width */
    height: 200px; /* Set fixed height */
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Pokémon details hidden by default */
.hidden {
    display: none;
}

/* Pokémon image styling */
.pokemon-image {
    width: 80px;
    height: 80px;
    margin-top: 5px;
}

/* Additional styling for text alignment */
.pokemon-number,
.pokemon-status {
    font-weight: bold;
}

.pokemon-name,
.pokemon-type {
    margin: 5px 0;
}
.pokemon-box img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 0px;
}

.pokemon-box:hover {
    background-color: #e6e6e6;
}

.pokemon-details {
    margin-top: 20px;
    font-size: 1.2em;
    color: #004d40;
}

.hidden {
    display: none;
}
