@font-face {
    font-family: 'Pokemon Hollow';
    src: url('Fonts/Pokemon Hollow.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('Fonts/Pokemon Solid.ttf') format('truetype');
}


body {
    font-family: Arial, sans-serif;
    background-color: #5a9ca4;
    text-align: center;
}

.container {
    margin-top: 50px;
}S

h1 {
    font-family: 'Pokemon Hollow';
    color: #ff9441;

    font-size: 3em;
}

h2 {
    font-family: 'Pokemon Hollow';
    color: #f3c877;
    font-size: 2em;
}

.Generation-selection {
    margin-top: 30px;
}

.Generation-grid {
    font-family: 'Pokemon Hollow';
    font-size: 1.25em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.Generation {
    cursor: url('cursor.png'), auto;
}

.Generation img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
}

.Generation img:hover {
    transform: scale(1.1);
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin-top: 30px;
}

.pokemon-box{
    /* Basic box styling for both Pokémon and games */
    width: 100px;
    height: 150px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: transparent;
    cursor: url('cursor.png'), auto;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    box-shadow: none
}
.pokemon-number {
    font-weight: bold;
}

.pokemon-name {
    margin: 5px 0;
    font-size: 14px;
}

.pokemon-status {
    font-size: 12px;
    color: #555;
}

.pokemon-box img{
    max-width: 100px;
    max-height: 100px;
    margin-top: 0px;
}

.pokemon-box:hover{
    background-color: transparent;
}

.pokemon-details {
    margin-top: 20px;
    font-size: 1.2em;
    color: #004d40;
}

.game-box {
    /* Basic box styling for both Pokémon and games */
    width: 100px;
    height: 150px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: transparent;
    cursor: url('cursor.png'), auto;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    box-shadow: none
}


.game-box img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 0px;
}
.game-box:hover {
    background-color: transparent;
}

.game-name {
    font-size: 14px;
    font-weight: bold;
    color: #00796b;
}

.hidden {
    display: none;
}


