@font-face {
    font-family: 'Pokemon Hollow';
    src: url('Fonts/Pokemon Hollow.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('Fonts/Pokemon Solid.ttf') format('truetype');
}

body {
    cursor: url('cursor.png'), auto;
    font-family: 'Pokemon Solid', Arial, sans-serif;
    font-size: 14px;
    color: #3d3100;
    background-image: url('Pokemon Logo.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
}

.container {
    margin-top: 20px;
}

h1 {
    font-family: 'Pokemon Hollow', Arial, sans-serif;
    color: #1d2c5e;
    font-size: 50px;
}

.dex-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px;
    margin-top: 100px;
}

button {
    font-family: 'Pokemon Hollow', Arial, sans-serif;
    color:#0075BE;
    padding: 5px;
    font-size: 20px;
    background-color: #eeff00;
    border: none;
    border-radius: 5px;
    cursor: url('cursor.png'), auto;
    transition: background-color 0.3s ease;
}

button:hover {
    font-family: 'Pokemon Solid', Arial, sans-serif;
    color:#000000;
    background-color: #de5138;
}

@media (max-width: 400px) {
    .dex-buttons {
        grid-template-columns: 1fr;
    }
}

