@font-face {
    font-family: 'Pokemon Hollow';
    src: url('https://file.garden/aS1L6O6dLxrEurHB/Pokedex/Fonts/Pokemon Hollow.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('https://file.garden/aS1L6O6dLxrEurHB/Pokedex/Fonts/Pokemon Solid.ttf') format('truetype');
}

body {
    cursor: url('cursor.png'), auto;
    font-family: 'Pokemon Hollow', Arial, sans-serif;
    font-size: 12px;
    color: #ffcc00;
    background-image: url('https://file.garden/aS1L6O6dLxrEurHB/Pokedex/Pokemon Logo.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    font-family: 'Pokemon Hollow', Arial, sans-serif;
    color: #1d2c5e;
    font-size: 3em;
}

.dex-buttons {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;
    margin-top: 300px;
}

button {
    font-family: 'Pokemon Solid', Arial, sans-serif;
    color:#0075BE;
    padding: 5px;
    font-size: 1.5em;
    background-color: #9c6228;
    border: none;
    border-radius: 10px;
    cursor: url('cursor.png'), auto;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #de5138;
}

@media (max-width: 400px) {
    .dex-buttons {
        grid-template-columns: 1fr;
    }
}

